<h1>Chatting with <%= @conversation.with(current_user).name %></h1>

<div id="conversation-main">
  <div id="conversation-body" data-conversation-id="<%= @conversation.id %>">
    <%= render @conversation.personal_messages %>
  </div>

  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <p class="emoji-picker-container">
	  <%= f.text_area :body, class: 'form-control', data: { emojiable: true } %>
	</p>

    <%= f.submit %>
  <% end %>
</div>