<!DOCTYPE html>
<html>
  <head>
    <title>Messager</title>
    <%= csrf_meta_tags %>
    <link href="/css/nanoscroller.css" rel="stylesheet">
    <link href="/css/emoji.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |key, value| %>
	  <div>
	    <%= value %>
	  </div>
	<% end %>

	<% if user_signed_in? %>
	<div id="current-user"></div>
	  <p>Signed in as <%= current_user.name %> | <%= link_to 'log out', destroy_user_session_path, method: :delete %></p>
    <%= link_to root_path do %>
      <button>Home</button>
    <% end %>
    <%= link_to users_path do %>
      <button>Users</button>
    <% end %>
  <% end %>
    <%= yield %>
    <script src="/js/nanoscroller.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/jquery.emojiarea.js"></script>
    <script src="/js/emoji-picker.js"></script>
  </body>
</html>
